.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

.icon-embed {
  width: 1.25em;
}

.icon-folder {
  width: 0.9287109375em;
}

.icon-phone {
  width: 0.7861328125em;
}

.icon-github {
  width: 0.857421875em;
}


.icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #FAFAFA;
}

.icon:hover{
      color: #C3E356;
    }

.icon-folder {
  width: 0.9287109375em;
}

.icon-phone {
  width: 0.7861328125em;
}

.icon-github {
  width: 0.857421875em;
}

.icon {
    width: 24px;
    height: 24px;
}